apiVersion: apps/v1
kind: Deployment
metadata:
  name: zwavejs2mqtt
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: zwavejs2mqtt
  template:
    metadata:
      labels:
        name: zwavejs2mqtt
    spec:
      initContainers:
        - name: init-borg
          image: ghcr.io/mattsve/borgmatic:0.5
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: store
              mountPath: /data
            - name: secrets
              mountPath: /root/.ssh
              readOnly: true
          env:
            - name: TZ
              value: Europe/Stockholm
            - name: REPOSITORY
              valueFrom:
                secretKeyRef:
                  name: zwavejs2mqtt
                  key: borg-repo
            - name: PASSPHRASE
              valueFrom:
                secretKeyRef:
                  name: zwavejs2mqtt
                  key: borg-passphrase
          args:
            - restore
            - -r
            - "'$(REPOSITORY)'"
            - -p 
            - "'$(PASSPHRASE)'"
            - -a 
            - zwavejs2mqtt
            - /data
        - name: inject-secrets
          image: hairyhenderson/gomplate:v3.9.0-alpine
          volumeMounts:
            - name: backup-templates
              mountPath: /templates
            - name: backup-config
              mountPath: /config
            - name: backup-secrets
              mountPath: /secrets
          env:
            - name: TZ
              value: Europe/Stockholm
          command: ["sh", "-c"]
          args:
            - gomplate -d secrets=/secrets < /templates/crontab.tmpl > /config/crontab
      containers:
        - name: zwavejs2mqtt
          image: zwavejs/zwavejs2mqtt:11.9.1
          livenessProbe:
            failureThreshold: 12
            httpGet:
              httpHeaders:
                - name: Accept
                  value: text/plain
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          ports:
            - containerPort: 8091
              name: http
              protocol: TCP
          resources:
            limits:
              cpu: '1'
              memory: 512Mi
            requests:
              cpu: '1'
              memory: 400Mi
          securityContext:
            allowPrivilegeEscalation: true
            privileged: true
          volumeMounts:
            - mountPath: /dev/serial/by-id/usb-0658_0200-if00
              name: zwavestick
            - mountPath: /usr/src/app/store
              name: store            
        - name: cron-borg
          image: ghcr.io/mattsve/borgmatic:0.5
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: store
              mountPath: /data
            - name: backup-config
              mountPath: /config
            - name: secrets
              mountPath: /root/.ssh
              readOnly: true
          env:
            - name: TZ
              value: Europe/Stockholm
          args:
            - cron
            - /config/crontab
      nodeSelector:
        zwavejs: "true"
      tolerations:
        - key: 'node'
          operator: 'Equal'
          value: 'small'
          effect: 'NoSchedule'
      volumes:
        - name: zwavestick
          hostPath:
            path: /dev/serial/by-id/usb-0658_0200-if00
        - name: store
          persistentVolumeClaim:
            claimName: zwavejs2mqtt
        - name: backup-config
          emptyDir: {}  
        - name: backup-templates
          configMap:
            name: zwavejs2mqtt-backup-templates
        - name: secrets
          secret:
            secretName: zwavejs2mqtt
            items:
              - key: id_ed25519
                mode: 0600
                path: id_ed25519
              - key: id_ed25519.pub
                mode: 0644
                path: id_ed25519.pub
              - key: known_hosts
                mode: 0644
                path: known_hosts
        - name: backup-secrets
          secret:
            secretName: zwavejs2mqtt
            items:
              - key: borg-repo
                mode: 0400
                path: borg-repo
              - key: borg-passphrase
                mode: 0400
                path: borg-passphrase
